@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "tailwindcss";

@theme {
    --font-main: "IBM Plex Sans", sans-serif;
}

body {
    background-color: var(--color-gray-800);
    color: var(--color-gray-50);
}

@utility btn-main {
        /* padding and shape */
        @apply px-4 py-3 rounded-sm;

        /* color */
        @apply bg-emerald-700 hover:bg-emerald-500;

        /* text */
        @apply text-white uppercase text-sm tracking-wider mx-auto;
}